mixin input_field(type, input_id, holder, input_label)
    div.complex-input
        label(for=input_id)= input_label
        input(class= 'input-text' id=input_id type=type name=input_id value= holder)
mixin simple_input(type, input_id, holder)
    input(class= 'input-text' id=input_id type= type name=input_id value=holder)